@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800&display=swap');
*{
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}

/* start heading part */
 
nav{
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 30px;
}
.container{
  display: flex;
  align-items: center;
  justify-content: space-around;  
}
.navbar{
  display: flex;
  justify-content: left;
  align-items: center;
  margin-right: 150px; 
  
}
.head{
  margin-left: 10px;
}
.menu{
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}
.item{
  margin-left: 30px;
  font-size: 18px;
  font-weight: 500;
  color: #3C354F;
}
.design{
  padding: 15px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.10);
}
.for-color{
  color: #FF42A5;
  font-size: 45px;
  font-weight: 700;
}
.head{
   font-size: 45px;
  font-weight: 700;
}
.logo-pic{
  width: 80px;
  height: 40px;
}
.icon{
  width: 30px;
  height: 20px;
  text-align: center;
  align-items: center;
  margin-left: 8px;
}
/* end heading part */

/* start main part 1 */
.banner{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  padding-left: 150px;
  padding-right: 150px;
  background-image: url(images/Group\ 14.png);
  background-repeat: no-repeat;
}
.first-head{
  color: #0B0223;
  text-align: center;
font-size: 48px;
font-weight: 600;
text-transform: uppercase;
}
.big-head{
  text-align: center;
font-family: Work Sans;
font-size: 95px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-transform: uppercase;
 background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
 background-clip: text;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}
.img{
  width: 500px;
}
.banner-list{
  color: #534C64;
 font-size: 15px;
 font-weight: 500;
 line-height: normal;
 text-transform: lowercase;
 list-style: none;
}
.list-item{
  margin-top: 10px;
}
.first-btn{
  color: #FFF;
 font-size: 15px;
 font-weight: 500;
 background-color: #F948B2;
 border-style: none;
 border-radius: 48px;
 padding: 10px;
 width: 100px;
 margin-left: 40px;
}
.end-btn{
   color: #FFF;
   font-size: 15px;
   font-weight: 500;
   background-color:  #4EC5F7;
   border-style: none;
   border-radius: 48px;
   padding: 10px;
   width: 100px;
   margin-left: 10px;
}
/* end main section 1 */

/* start main section 2 */
.teams{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  padding-top: 40px ;
  padding-left: 100px;
  padding-right: 50px;
}
.team-head{
  font-size: 40px;
  font-weight: 700;
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.team-des{
  color: #534C64;
  font-size: 15px;
  font-weight: 400;
}
.team-btn{
  color: #FFF;
  font-size: 15px;
  font-weight: 600;
  background-color: #F948B2;
  border-style: none;
  border-radius: 48px;
  padding: 10px;
  width: 150px;
  margin-top: 20px;
  margin-left: 250px;
}
.end-des{
 color: #534C64;
 margin-left: 260px;
 font-size: 18px;
 font-weight: 500;
 margin-top: 10px;
 padding-top: 10px;
}
.end-team-head{
  color: #534C64;
  font-size: 25px;
  font-weight: 700;
}
.team-pic{
  width: 800px;
  height: 470px;
}
/* end main part 2 */

/* start main part 3 */
.middle-container{
  text-align: center;
}
.middle-head{
  font-size: 40px;
  font-weight: 700;
}
.funny{
  margin-left: 10px;
}
.middle-des{
  font-size: 15px;
  font-weight: 400;
  color: #534C64;
}
.online-games-part{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding: 50px;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 80px;
  
}
.games-pic{
  width: 280px;
  height: 400px; 
}
.game-des{
  margin-top: 10px;
}
.video-play{
 

}

/* end main part 3 */

/*start main section 4 */
.free-games{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  padding-left: 150px;
  padding-right: 100px;
}
.horse-pic{
  width: 450px;
}
.play{
  font-size: 35px;
}
.no-download{
  font-size: 38px;
}
.play-des{
  font-size: 15px;
  font-weight: 300;
  color: #534C64;
}
.angela{
  width: 150px;
  position: relative;
  bottom: 180px;
  right:  80px;
  border-radius: 8px;
  border: 5px solid #FFF;
  
  
}
.angela-pic{
  width: 200px;
}
/* end main section 4 */

/* main section 5 */
/* end main section 5 */

/* main section 6 */
/* end main section 6  */

/* last main section */
.game-icons{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  padding: 50px;
}
.game-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-img{
  width: 50px;
  height: 50px;
}
.last-game-container{
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  font-size: 15px;
}
.game-title{
  font-size: 15px;
  margin-left: 10px;
  font-weight: bolder;
}
.game-container:hover{
  border: 2px solid #F948B2;
  color: #F948B2;
  border-radius: 50px;
}
/* end last main section */

/* footer section */
.footer-container{
 background-color: black;
 color: white;
 padding: 80px;
}
.footer-head{
 display: flex;
 align-items: center;
 justify-content: center;
 margin-bottom: 50px;
}
.footer-mid{
  display: flex;
 align-items: center;
 justify-content: space-evenly;
 margin-bottom: 50px;
}
.footer-img{
   display: flex;
 align-items: center;
 justify-content: center;
 margin-bottom: 50px;
}
.media-img{
  width: 25px;
  height: 25px;
  margin-right: 20px;
}
.footer-end{
  display: flex;
  align-items: center;
  justify-content: center;
}
.last-des{
  font-size: 12px;
  color: darkgray;
  font-weight: 400;
}
.footer-des{
  font-size: 15px;
  color: darkgray;
  font-weight: 500;
}
/* end footer section */
 

















@media screen and (max-width:576px) {
  .container, .menu, .free-games{
    flex-direction: column;
    justify-content: center;
  }
  .navbar{
    margin-top: 50px;
    text-align: center;
    margin-left: 150px;
  }
  .menu{
    margin-right: 70px;
    margin-top: 20px;
  }
  .item{
    margin-top: 30px;
  }
  .design{
    margin-top: 30px; 
  }
  nav{
    box-shadow: none;
  }
  .banner{
    flex-direction: column-reverse;
     margin-bottom: 80px;
  }
  .first-head{
    margin-top: 50px;
  }
  .teams{
    flex-direction: column-reverse;
    margin-bottom: 50px;
  }
  .team-pic{
    width: 500px;
    height: 400px;
    padding-right: 20px;
  }
  .online-games-part{
    grid-template-columns: repeat(1, 1fr);
  }
  .game-des{
    margin-bottom: 20px;
  }
  .middle-head{
    font-size: 25px;
  }
  .funny{
    font-size: 25px;
  }
  .middle-des{
    font-size: 15px;
  }
  
  .horse-pic{
    width: 300px;
  }
  .game-icons{
    grid-template-columns: repeat( 3,1fr);
  }
}